__pycache__
.vscode
*scratch*
*.egg-info

# data files
healer/data/buildingblocks/*
!healer/data/buildingblocks/test_100_bb_processed.sdf

# log or temporary files
/*.csv
/*.smi
/*.json
/*.html
/*.log
/*.xlsx

# large results files
benchmark/results/*/*.csv
!benchmark/results/*/*subset*

# external/optional dependencies
external/prop_profiler