__pycache__
.vscode
*scratch*
healer/data/buildingblocks/Enamine*.sdf
healer/data/buildingblocks/Enamine_building_blocks_sdf.zip
slurm-*
./*.csv
./*.smi
./results
cache
external/prop_profiler
figures.ipynb
analyze_results.ipynb
*.egg-info

# temporarily ignore these files
benchmark